<!-- <button class="btn btn-danger" (click)="logOut()" type="button">Log Out</button> -->

<section class="cabinet">
  <div class="cabinet-wrapper">
    <div class="product__container">
      <div class="title">
        <h2>Кабінет</h2>
      </div>
    </div>
    <div class="cabinet-container">
      <div class="d-flex align-items-start" id="cabinet_tab_menu">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Особисті дані</button>

          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Історія замовлень</button>

          <button class="nav-link" id="v-pills-changepass-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-changepass" type="button" role="tab" aria-controls="v-pills-changepass"
            aria-selected="false">Зміна паролю</button>
          <button class="nav-link exit-btn" type="button" (click)="logOut()"> Вихід з кабінету</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
            tabindex="0">
            <div class="cabinet-form">
              <div class="cabinet-form-wrapper">
                <form>
                  <div class="form-subtitle">
                    <h3>Спосіб оплати</h3>
                  </div>
                  <div class="form-cabinet-body">
                    <input class="modal-window-input-small modal-window-input" type="text" placeholder="*Ваше ім'я">
                    <input class="modal-window-input-small modal-window-input" type="text" placeholder="*Ваше прізвище">
                    <input class="modal-window-input" type="text" placeholder="*Ваш телефон">
                    <input name="email" class="modal-window-input" type="text" placeholder="*Ваш email">
                  </div>
                  <div class="form-subtitle">
                    <h3>Адреси</h3>
                  </div>
                  <div class="btn-wrapper">
                    <button type="button" class="btn-cabinet btn-cabinet-add-adress">додати адресу</button>
                    <button type="button" class="btn-cabinet btn-cabinet-save">зберегти зміну</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            tabindex="0">
            <div class="order-list">
              <table class="table">
                <thead class="oreder-list-header">
                  <tr>
                    <th scope="col">№ Замовлення</th>
                    <th scope="col">Дата та час</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">Сума</th>
                    <th scope="col">Статус</th>
                  </tr>
                </thead>
                <tbody class="oreder-list-item">
                  <tr>
                    <th scope="col"><b>№ 3151</b></th>
                    <th scope="col">08.2022 18:47:25</th>
                    <th scope="col">Самовивіз</th>
                    <th scope="col"><b>510</b> грн</th>
                    <th scope="col">Виконано <br>Повторити</th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Запечені мономакі з лососем</th>
                    <th scope="col"></th>
                    <th scope="col">1</th>
                    <th scope="col"></th>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Запечений сет</td>
                    <td></td>
                    <td>1</td>
                    <td></td>
                  </tr>
                </tbody>
                <tbody class="oreder-list-item">
                  <tr>
                    <th scope="col"><b>№ 3151</b></th>
                    <th scope="col">08.2022 18:47:25</th>
                    <th scope="col">Самовивіз</th>
                    <th scope="col"><b> 510</b> грн</th>
                    <th scope="col">Виконано <br> Повторити</th>
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Запечені мономакі з лососем</th>
                    <th scope="col"></th>
                    <th scope="col">1</th>
                    <th scope="col"></th>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Запечений сет</td>
                    <td></td>
                    <td>1</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-changepass" role="tabpanel" aria-labelledby="v-pills-changepass-tab"
            tabindex="0">
            <div class="changepass-form">
              <form>
                <div class="form-subtitle">
                  <h3>Спосіб оплати</h3>
                </div>
                <div class="form-changepass-body">
                  <input class="modal-window-input" type="password" placeholder="*Ваш поточний пароль">
                  <input class="modal-window-input" type="password" placeholder="*Новий пароль">
                  <input class="modal-window-input" type="password" placeholder="*Повторіть пароль">
                </div>
                <div class="btn-wrapper">
                  <button type="button" class="btn-cabinet btn-cabinet-add-adress">Скасувати</button>
                  <button type="button" class="btn-cabinet btn-cabinet-save">зберегти зміну</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
