<section class="discount-info">
  <div class="discount-info__container">
    <ul class="discount-info__menu-list">
      <li>

        <a [routerLink]="[ '/home' ]" routerLinkActive="active">Головна</a>
      </li>
      <li>
        <a [routerLink]="[ '/discount' ]" routerLinkActive="active">Акції</a>
      </li>
      <li>
        <a>{{currentDiscount.title}}</a>
      </li>
    </ul>
    <div class="discount-info__content">
      <div class="discount-info__banner">

        <h2>{{currentDiscount.title}}</h2>

      </div>
      <div class="discount-info__content-list">
        <ul>
          <!-- <li>Щотижня діє знижка 50% на один з ролів у нашому меню.</li>
          <li>“Рол тижня” ви можете знайти на головній сторінці нашого сайту.</li>
          <li>Знижка діє при мінімальній сумі замовлення 300 грн.</li>
          <li>Ця акція не поєднується з іншими акціями.</li> -->
          {{currentDiscount.description}}
        </ul>
      </div>
    </div>
  </div>
</section>
