<div class="w-100 mt-2">
  <div class="col-12">
    <form [formGroup]="categoryForm" (ngSubmit)="addItem()">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input formControlName="name" name="name" type="text" class="form-control">
        <div class="invalid-feedback"
          [style.display]="categoryForm.controls['name'].errors?.['required'] ? 'block' : 'none' ">
          Поле Name обов'язкове!
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">path</label>
        <input formControlName="path" name="path" type="text" class="form-control">
        <div class="invalid-feedback"
          [style.display]="categoryForm.controls['path'].errors?.['required'] ? 'block' : 'none' ">
          Поле Path обов'язкове!
        </div>
      </div>
      <ng-container *ngIf="!isUploaded">
        <div class="mb-3">
          <label for="formFile" class="form-label">Default file input example</label>
          <input class="form-control" type="file" id="formFile" (change)="upload($event)">
        </div>
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="uploadPercent"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="isUploaded">
        <img [src]="valueByControl('imagePath')" width="300px" alt="">
        <button type="button" class="btn btn-danger w-100" (click)="deleteImage()">Delete</button>
      </ng-container>
      <button [disabled]="categoryForm.invalid" type="submit" class="btn btn-success w-100">
        {{editStatus ? 'Save' : 'Add' }}
      </button>

    </form>
  </div>
  <div class="col-12 mt-5 mb-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Path</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoriesAdmin; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{category.name}}</td>
          <td>{{category.path}}</td>
          <td>
            <img [src]="category.imagePath" width="50" alt="">
          </td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editItem(category)">Edit</button>
            <button [disabled]="editStatus" type="button" class="btn btn-danger"
              (click)="deleteItem(category)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
