<section class="discount">
  <div class="discount__wrapper">
    <div class="discount__container">
      <div class="title">
        <h2>Акції</h2>
      </div>
      <div class="discount__list">
        <div class="discount__item" *ngFor="let discount of discountUser">
          <a [routerLink]="[ '/discount', discount.id ]" class="discount__link">
            <div class="discount__item-info">
              <div class="discount__item-img">
                <img [src]="discount.imagePath" alt="">
              </div>
              <div class="discount__item-title">
                <h5>{{discount.title}}</h5>
              </div>
            </div>
          </a>
          <hr>
          <a [routerLink]="[ '/discount', discount.id ]" class="discount__btn" href="">дізнатись
            більше</a>
        </div>
        </div>

    </div>
  </div>
</section>
