@import '/src/app/shared/styles/variables';

.title {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  justify-content: center;
  margin-top: 60px;

  h2 {
    font-size: 42px;
    line-height: 1.2em;
    color: #252525;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 10px;
    display: inline-block;


  }

  ::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background: $base-color;
  }
}


.discount__wrapper {
  width: 100%;
}

.discount__container {
  max-width: 1200px;
  margin: 0 auto;
}


.discount__list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.discount__item {
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;

  hr {
    width: 100%;
    height: 3px;
    background-color: $base-color;
    border-radius: 10px;
    margin: 15px 0;
  }
}

.discount__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #252525;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75em;

}

.discount__item-img img {
  transition: all 0.3s;
}

.discount__link:hover .discount__item-img img {
  transform: scale(1.1);
  transition: all 0.3s;
}

.discount__item-title h5 {
  transition: all 0.3s;
}

.discount__link:hover .discount__item-title h5 {
  color: $base-color;
  transition: all 0.3s;
}


.discount__item-info {
  width: 100%;
}

.discount__item-img {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px;


  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transform: translate 0.25s;
  }
}



.discount__item-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 11px;
  text-decoration: none;
}

.discount__btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  transition: .35s;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  padding: 11px 50px;
  border-radius: 10px;
  color: #252525;
  background-color: $base-color;
  border: 2px solid $base-color;

  &:hover {
    background-color: #fff;
  }
}

@media screen and (max-width: 990px) {
  .discount__container {
    max-width: 768px;
  }

  .discount__link:hover .discount__item-img img {
    transform: scale(1);
    transition: all 0.3s;
  }

  
  .discount__link:hover .discount__item-title h5 {
    color: #252525;
    transition: all 0.3s;
  }

}

@media screen and (max-width: 768px) {
  .title h2 {
    font-size: 34px;
  }

  .discount__list {

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .discount__item-title{
    
  }
  .discount__item {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
  }

}

@media screen and (max-width: 500px) {



  .discount__item {
    width: 100%;
    padding: 0 20px;
  }

}
