@import '/src/app/shared/styles/variables';
@import '/src/app/shared/styles/_products';

.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 100;
  background-color: #fff;
  // box-shadow: 0 0 2px black;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;



  &__wrapper {
    // width: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 100%;
    background-color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    width: 99px;
    height: 85px;
    position: relative;
  }

  &__menu-item::before,
  &__menu-item::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    border-radius: 7px;
  }

  &__menu-item::before {
    top: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  &__menu-item::after {
    bottom: 0;
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &__menu-item:hover::before,
  &__menu-item:hover::after {
    width: 100%;
    height: 100%;
  }

  &__menu-item:hover::before {
    border-top-color: $base-color;
    border-right-color: $base-color;
    // -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }

  &__menu-item:hover::after {
    border-bottom-color: $base-color;
    border-left-color: $base-color;
    // -webkit-transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }


  &__menu-item+&__menu-item {
    margin-left: 5px;
  }

  &__menu-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__menu-link-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__menu-item-image {
    width: 30px;
    height: 30px;
  }

  &__menu-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    margin-top: 4px;
    text-transform: capitalize;
  }

  &__burger-menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

  &__burger-menu::before,
  &__burger-menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    border-radius: 7px;
  }

  &__burger-menu::before {
    top: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  &__burger-menu::after {
    bottom: 0;
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &__burger-menu:hover::before,
  &__burger-menu:hover::after {
    width: 100%;
    height: 100%;
  }

  &__burger-menu:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    // -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }

  &__burger-menu:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    // -webkit-transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }

  &__burger-menu img {
    width: 50%;
    height: 50%;
    z-index: 10;
  }

  &__basket {
    height: 100%;
    max-width: 154px;
    width: 100%;
    background-color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__call-back {
    padding: 10px 15px 11px;
    background: $base-color;
    border: 2px solid transparent;
    border-radius: 10px;
    line-height: 1em;
    transition: all .3s ease 0s;
    cursor: pointer;
  }



  &__call-btn {
    cursor: pointer;
  }

  &__info {
    text-align: center;
  }


  &__phone {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    color: #252525;
    transition: all .3s ease 0s;
    transition: .35s;
    text-decoration: none;
    text-align: center;
  }

  &__work-time {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.2em;
    color: #252525;
  }

  &__phone:hover {
    color: $base-color;
  }

  &__call-back:hover {
    background: transparent;
    border: 2px solid $base-color;
  }

  &__call-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    color: #252525;
    vertical-align: middle;
  }

  &__admin {
    padding: 9px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .35s;
    position: relative;
    cursor: pointer;
  }

  &__admin::before,
  &__admin::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    border-radius: 7px;
  }

  &__admin::before {
    top: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  &__admin::after {
    bottom: 0;
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &__admin:hover::before,
  &__admin:hover::after {
    width: 100%;
    height: 100%;
  }

  &__admin:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    // -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }

  &__admin:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    // -webkit-transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }

  &__basket-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  &__basket-price span {
    margin-left: 5px;
  }

  &__count-item {
    position: absolute;
    top: -3px;
    left: 21px;
    color: #252525;
    line-height: 1em;
    font-size: 14px;
    padding-top: 6px;
    background-color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
    min-width: 26px;
    max-width: 36px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
  }
}

.header__call-btn-nav {
  display: none;
}


.mobile__logo {
  display: none;
  width: 70%;
  height: 70%;
}

.nav__menu {
  width: 235px;
  position: absolute;
  padding: 0px 25px 20px 25px;
  background: #fff;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  top: -14px;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.nav__menu-item {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #252525;
  font-size: 16px;
  line-height: 1em;
  padding: 12px 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: .35s;

}

.nav__menu-open {
  opacity: 1;
  visibility: visible;
  padding: 25px 25px 20px 25px;
}

.nav__menu-close {
  opacity: 0;
  visibility: hidden;
}

.nav__menu-item:first-child {
  margin-top: 57px;
}

.header__basket {
  position: relative;
  cursor: pointer;
}

.cart {
  width: 664px;
  height: 0;
  background-color: white;
  position: fixed;
  top: 110px;
  right: 0;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  z-index: 99;
  transition: all .4s;
  visibility: 0;
  opacity: 0;
  overflow-y: hidden;
}



.cart-top {
  padding: 20px;
}

.cart-empty-message {
  width: 225px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-empty-img {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 15px;
  color: #252525;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.75em;
}

.cart-btn {
  border: 2px solid $base-color;
  background: $base-color;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 22px;
  border-radius: 10px;
  color: #252525;
  text-decoration: none;
  transition: all .4s;

  &:hover {
    background-color: #fff;
  }
}

.cart-bottom {
  padding: 20px;
  background-color: $base-color;
  background-image: url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg);
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.cart-price {
  color: #252525;
  font-size: 18px;
  line-height: 1.5em;
}

.cart-close {
  border: 2px solid $base-color;
  background: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 22px;
  border-radius: 10px;
  color: #252525;
  text-decoration: none;
}

.cart-close:disabled {
  background-color: #FC427B;
}






.cart-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product-img {
  width: 122px;
  height: 92px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cart-product-title {
  color: #252525;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
  width: 200px;
}

.cart-item-wrapper {
  display: flex;
  align-items: center;
}

.cart-item-wrapper-nav {
  display: flex;
  align-items: center;
}

.counter__button-group {}

.counter__btn {}

.counter__product {}

.cart-product-price {
  width: 75px;

  b {
    margin: 0 12px;
    width: 90px;
  }
}

.deleteproduct {
  padding: 5px;
}

.header__info-nav-menu {
  display: none;
}


.active-cart {
  height: auto;
  visibility: 1;
  opacity: 1;
}






.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: 0;
  transition: opacity .4s;
  transition: visibility .4s;
}

.active-blur {
  height: 100%;
  opacity: 1;
  visibility: 1;
}

.wrapper-for-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

// Modal Window -------------------

#callBackModal,
#loginModal,
#forgotPassModal,
#registerModal {
  .modal-content {
    // width: 50%;
    position: relative;
    // background-color: red;
    padding: 50px 60px 45px 60px;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
  }

  .modal-btn-close {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    right: 8px;
  }


  .modal-title {
    margin-bottom: 5px;
    color: #252525;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.4em;
    text-transform: uppercase;

  }

  .modal-subtitle {
    font-size: 16px;
    line-height: 1.4em;
    max-width: 390px;
    color: #5A5A5A;
    margin: 0 auto;
  }

  .modal-window-input:first-child {
    margin-top: 25px;
  }

  .modal-window-input {
    width: 100%;
    font-size: 16px;
    height: 56px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #252525;
    line-height: 56px;
    padding: 0 20px 0 23px;
    transition: 0.35s;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }

  .btn-send {
    text-align: center;
    transition: .35s;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 16px 22px;
    border-radius: 10px;
    color: #252525;
    border: 2px solid #b5d8f7;
    background: #b5d8f7;

    &:hover {
      background-color: #fff;
    }
  }
}

#loginModal {
  .modal-title {
    text-transform: none;
    font-size: 26px;
  }

  .btn-modal-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .modal-register-btn,
  .modal-forgot-pass-btn {
    font-weight: bold;
    color: #252525;
    font-size: 16px;
    background: transparent;
    border: none;
  }
}

#forgotPassModal {

  .modal-title {
    text-transform: none;
    font-size: 26px;
  }

  .btn-modal-wrapper {
    margin-top: 15px;
    font-weight: normal;
  }

  .modal-register-btn,
  .modal-forgot-pass-btn {
    font-weight: bold;
    color: #252525;
    font-size: 16px;
    background: transparent;
    border: none;
  }
}

#registerModal {

  .modal-title {
    text-transform: none;
    font-size: 26px;
  }

  .modal-window-input-small:nth-child(1) {
    margin-right: 10px;
  }

  .modal-window-input-small:last-child {
    margin-left: 10px;
  }

  .modal-window-input-small {
    width: 48%;
  }

  label {
    margin-bottom: 15px;
    display: flex;
    justify-content: start;

    span {
      color: #5A5A5A;

      a {
        text-decoration: none;
        color: #252525;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .modal-check-privacy {
    margin-right: 15px;


  }


  .btn-modal-wrapper {
    margin-top: 15px;
    font-weight: normal;
  }

  .modal-register-btn {
    font-weight: bold;
    color: #252525;
    font-size: 16px;
    background: transparent;
    border: none;
  }
}



@media screen and (max-width: 1500px) {
  .header {
    height: 80px;
  }

  .header__menu-item {
    width: 75px;
    height: 75px;
  }

  .header__menu-item-image {
    width: 25px;
    height: 25px;
  }

  .header__call-back {
    padding: 7px 15px 7px;

    .header__call-btn {
      font-size: 12px;
    }
  }

  .header__phone {
    font-size: 16px;
  }

  .header__work-time {
    font-size: 12px;
  }

  .header__menu-item-title {
    font-size: 14px;
  }

  .cart {
    top: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .header__call-btn {
    span {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {


  .header__info {
    display: none;
  }

  .header__call-back {
    background: transparent;
  }



  .header__nav-wrapper {
    display: none;
  }

  .header__burger-menu {
    position: static;
  }

  .nav__menu {
    width: 50%;
    height: calc(100% - 137px);
    top: 80px;
    right: -100%;
    left: auto;
    border: 1px solid $base-color;
    border-radius: 0;
    position: fixed;
    z-index: 90;
    transition: all .4s;
  }

  .nav__menu-item:first-child {
    margin: 0;
    margin-top: 13px;
  }

  .nav__menu-item {
    padding: 15px 25px;
    font-size: 14px;
    line-height: 1em;
  }

  .header__info-nav-menu {
    display: block;
    text-align: left;
    padding: 30px 25px;
  }

  .header__call-btn-nav {
    display: block;
    margin-top: 10px;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: $base-color;

    img {
      width: 15px;
      margin-right: 10px;

    }
  }

  .nav__menu-open {
    right: -3px;
    transition: right .4s;
    padding: 0;
  }

  .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-bottom {
    border-radius: 0px;
  }

  .active-cart {
    height: calc(100% - 137px);
  }
  .wrapper-for-nav{
    flex-direction: row-reverse;
  }

}

@media screen and (max-width: 768px) {
  .header {
    height: 65px;
  }

  .header__logo-img {
    display: none;
  }

  .mobile__logo {
    display: block;
  }

  .header__basket {
    max-width: 100px;

  }

  .header__basket-wrapper {
    img {
      width: 25px;
    }
  }

  .header__logo {
    padding: 0 10px;
  }

  .header__count-item {
    top: -9px;
    left: 13px;

    min-width: 22px;
    max-width: 36px;
    height: 24px;
  }

  .nav__menu {
    width: 295px;
    top: 64px;
    height: calc(100% - 121px);
  }

  .cart {
    width: 100%;
    top: 65px;
  }

  .cart-top {
    padding: 0;
  }

  .cart-bottom {
    padding: 10px 15px;
  }

  .cart-item-wrapper {
    margin: 0 auto;
  }

  .cart-close {
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .cart-price {
    font-size: 14px;
  }

  .active-cart {
    height: calc(100% - 124px);
  }
}


@media screen and (max-width: 520px) {
  .cart-item-wrapper {
    flex-direction: column;
  }

  .cart-product-title {
    text-align: center;
    margin-bottom: 8px;
  }

  #callBackModal,
  #loginModal,
  #forgotPassModal,
  #registerModal {
    .modal-content {
      padding: 25px 30px;
    }

    .modal-title {
      font-size: 22px;
    }
  }

  #registerModal {
    .modal-window-input-small {
      margin: 0;
      width: 100%;
      margin-bottom: 15px;
    }

    .modal-window-input-small:last-child {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
