<section class="product-info">
  <div class="product-info__container">
    <ul class="product-info__menu-list">
      <li>
        <a [routerLink]="[ '/home' ]">Головна</a>
      </li>
      <li>
        <a [routerLink]="[ '/product/'+ currentProduct.category.path ]">{{currentProduct.category.name}}</a>
      </li>
      <!-- <li>
        <a>Філадельфія</a>
      </li> -->
      <li>
        <a>{{currentProduct.name}}</a>
      </li>
    </ul>
    <div class="product-info__content">
      <div class="product-info__item">
        <div class="product-info__item-img">
          <img [src]="currentProduct.imagePath" alt="">
        </div>
        <div class="product-info__item-info">
          <h3 class="product-info__item-title">{{currentProduct.name}}</h3>
          <p class="product-info__desc"><span>Склад:</span>{{currentProduct.description}}</p>
          <p class="product-info__desc"><span>Вага:</span>{{currentProduct.weight}} г</p>
          <div class="product-info__navigation">
            <p class="product-info__price">{{currentProduct.price * currentProduct.count}}<span>грн</span></p>
            <div class="counter__button-group">
              <button (click)="productCount(currentProduct, false)" class="counter__btn" type="button">-</button>
              <input readonly class="counter__product" type="text" [value]='currentProduct.count'>
              <button (click)="productCount(currentProduct, true)" class="counter__btn" type="button">+</button>
            </div>
            <button (click)="addToBasket(currentProduct)" class="order__btn">Замовити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
