<div class="container d-flex align-items-center my-5">
  <form class="col-md-6 col-sm-9 m-auto" [formGroup]="authForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input formControlName="email" name="email" type="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-success w-100
    ">Login Admin</button>
  </form>

</div>
