@import '/src/app/shared/styles/variables';
@import '/src/app/shared/styles/products';

.title {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  justify-content: center;
  margin-top: 60px;

  h2 {
    font-size: 42px;
    line-height: 1.2em;
    color: #252525;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 10px;
    display: inline-block;


  }

  ::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background: $base-color;
  }
}


.sous__description {

  max-width: 1300px;
  margin: 0 auto;
  margin: 110px auto;

  p {
    margin-bottom: 20px;
  }

  p,
  li {
    font-size: 18px;
    line-height: 1.5em;
    color: #5A5A5A;
  }

  li {
    margin-left: 20px;
    position: relative;
  }

  li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -15px;
    width: 7px;
    height: 7px;
    background-color: $base-color;
    border-radius: 50%;
  }

  li+li {
    margin-top: 10px;
  }

}





@media screen and (max-width: 565px) {
  .title h2 {
    font-size: 34px;
  }
}
