.product__container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0px;
}

.pruduct__wrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  width: 25%;
  padding: 20px;

}

.product__border {
  height: 100%;
  position: relative;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new,
.best {
  position: absolute;
  display: block;
  width: 44px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 7px 4px;
  margin-bottom: 5px;
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 1.4em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.new {
  background-color: #59d600;
}

.best {
  background-color: #dd3333;
}

.product__border::before,
.product__border::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}

.product__border::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;

}

.product__border::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}

.product__border::before,
.product__border::after {
  width: 100%;
  height: 100%;
}

.product__border:hover::before {
  border-top-color: $base-color;
  border-right-color: $base-color;
  //   -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

.product__border:hover::after {
  border-bottom-color: $base-color;
  border-left-color: $base-color;
  //   -webkit-transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
}

.product__image-wrap {
  width: 100%;
  height: 180px;
  margin-top: 40px;
  display: flex;
  justify-content: center;

  a {
    position: relative;
    transition: all 0.3s;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.product__image-wrap:hover {
  a {
    top: 10px;
    transition: all 0.3s;
  }
}

.product__title-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.product__title {


  a {
    font-weight: 600;
    line-height: 1.5em;
    color: #252525;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;

    &:hover {
      color: $base-color;
    }
  }

}

.product__desc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  p {
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5em;
    color: #5A5A5A;
    margin-right: 20px;
  }
}

.product__size {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  color: #5a5a5a;
}



.product__controls {
  margin-top: 20px;
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  color: #252525;
  font-weight: 400;
  font-size: 20px;
}

.price {

  font-weight: bold;
}

.btn__order {
  display: block;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border: 2px solid $base-color;
  background: $base-color;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #252525;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background-color: transparent;
  }
}

.counter__button-group {
  padding: 4px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  font-size: 16px;
  line-height: 14px;
  display: flex;
  align-items: center;
}

.counter__btn {
  border: none;
  background: transparent;
  width: 32px;
  height: 36px;
  font-size: 24px;
  line-height: 14px;
  color: #5a5a5a;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  transition: all .4s;

  &:hover {
    background-color: $base-color;
  }
}

.counter__product {
  border: none;
  text-align: center;
  width: 32px;
  height: 36px;
}


@media screen and (max-width: 1200px) {
  .product__item {
    width: 33.3333%;
    padding: 15px;
  }

  .btn__order {
    padding: 7px 9px;
    font-size: 12px;
  }

 

  .counter__btn {
    width: 26px;
    height: 24px;
    line-height: none;
  }

  .counter__product {
    width: 26px;
    height: 24px;
    line-height: none;
  }
}

@media screen and (max-width: 968px) {
  .product__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .product__item {
    width: 50%;
    padding: 15px;
  }

  .btn__order {
    padding: 5px 16px;
  }


}

@media screen and (max-width: 768px) {

  .product__container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0px;
  }


  .product__item {
    width: 50%;
    padding: 0px;
  }

  .product__border {
    padding: 15px;
  }

  .product__title a {
    font-size: 17px;
  }


  .product__desc p {
    font-size: 14px;
  }

  .counter__button-group {
    
    padding: 2px;
  }

  .counter__btn {
    width: 26px;
    height: 30px;
    line-height: 20px;

    &:hover {
      background: transparent;
    }
  }

  .counter__product {
    width: 21px;
    height: 26px;
    font-size: 24px;


  }



}

@media screen and (max-width: 565px) {


  .title h2 {
    font-size: 34px;
  }



  .product__container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
  }

  .product__item {
    width: 100%;
    padding: 0px;
  }

  .product__title a {
    font-size: 17px;
  }


  .product__desc p {
    font-size: 14px;
  }


}
