<section class="roli">
  <div class="roli__wrapper">
    <div class="product__container">
      <div class="title">
        <h2>Роли</h2>
      </div>
      <div class="pruduct__wrapper">
        <div class="product__item" *ngFor="let product of homeUserProducts">
          <div class="product__border">
            <div class="product__image-wrap">
              <a href="">
                <img [src]="product.imagePath" alt="">
              </a>
            </div>
            <div class="product__title-wrap">
              <div class="product__title">
                <a href="">{{product.name}}</a>
              </div>
            </div>
            <div class="product__desc">
              <p>{{product.description}}</p>
              <div class="product__size"><span class="size">{{product.weight}}</span> <span>г</span> </div>
            </div>
            <div class="product__controls">
              <div class="product__price-wrap">
                <div class="product__price"><b class="price">{{product.price}}</b> грн</div>
                <button class="btn__order">Замовити</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
