@import '/src/app/shared/styles/variables';
@import '/src/app/shared/styles/products';

.checkout-container {
  max-width: 900px;
  margin: 50px auto;
}




.cart-product-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  padding: 5px;
}

.cart-product-img {
  width: 122px;
  height: 92px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cart-product-title {
  color: #252525;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
  width: 200px;
}

.cart-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-wrapper-nav {
  display: flex;
  align-items: center;
}

.counter__button-group {}

.counter__btn {}

.counter__product {}

.cart-product-price {
  width: 75px;

  b {
    margin: 0 12px;
    width: 90px;
  }
}

.deleteproduct {
  padding: 5px;
}

.cart-total-price {
  border-top: 1px solid #dcdcdc;
  padding: 15px;
  text-align: right;
  color: #5A5A5A;

  b {
    margin: 0 12px;
    width: 90px;
    color: #252525;
  }
}

.form-checkout-wrapper {
  margin-top: 50px;

  hr {
    border: 3px solid $base-color;
    border-radius: 10px;
  }
}

.promo-wrapper {
  display: flex;
}

.input-wrapper {
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  height: 56px;
  border: 1px solid #dcdcdc;
  color: #252525;
  line-height: 56px;
  padding: 0 23px 0 26px;
  text-overflow: ellipsis;
}

.btn-use-promo {
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  transition: all .35s;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 22px;
  color: #252525;
  border: 2px solid $base-color;
  background: $base-color;
  transition: all .4s;

  &:hover {
    background: transparent;
  }
}

.form-subtitle {
  font-size: 20px;
  line-height: 1.75em;
  color: #252525;
  font-weight: bold;
  position: relative;
  margin-top: 30px;

  h3 {
    margin-left: 45px;
  }
}

.form-subtitle::before {
  content: "1";
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: -2px;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: $base-color;
  border-radius: 7px;
}

.form-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form-input-wrapper-check {}

.form-checkout-checkbox {
  display: block;
  margin-top: 15px;

  span {
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
  }
}

.form-checkout-input,
.form-input-select {
  border-radius: 10px;
  font-size: 16px;
  height: 56px;
  border: 1px solid #dcdcdc;
  color: #252525;
  line-height: 56px;
  padding: 0 23px 0 26px;
  text-overflow: ellipsis;
  width: 49%;
}



.form-checkout-comments {
  width: 100%;
  height: 92px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  line-height: 56px;
  padding: 0 20px 0 23px;
  text-overflow: ellipsis;
  resize: none;
  margin-top: 15px;
}

.delivery__map {
  margin-top: 15px;
}

.map {}

.form-checkout-alert-wrapper {}

.form-checkout-alert-item {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  color: rgba(212, 0, 0, 0.6);
  border: 1px solid rgba(212, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.form-checkout-alert-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(https://monosushi.com.ua/wp-content/themes/monosushi/img/warning.svg);
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
}

.btn-to-order {
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 22px;
  color: #252525;
  border: 2px solid $base-color;
  background: $base-color;
  transition: all .4s;

  &:hover {
    background: transparent;
  }
}


@media screen and (max-width: 1200px) {
  .checkout-container {
    max-width: 700px;
    padding: 0 20px;
  }

}

@media screen and (max-width: 768px) {
  .title {
    h2 {
      font-size: 26px;
    }
  }

  .checkout-container {
    max-width: 500px;
    padding: 0 20px;
  }

  .cart-product-item {
    padding: 0;
  }

  .cart-product-title {
    width: 168px;
    font-size: 14px;
  }

  .counter__product {
    font-size: 15px;
  }

  .cart-item-container {
    gap: 0px;
  }

  .promo-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .form-input-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .form-checkout-input,
  .form-input-select {

    width: 100%;

  }

  

  .input-wrapper,
  .btn-use-promo {
    border-radius: 10px;
    
  }

}

@media screen and (max-width: 520px) {
  .cart-item-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .cart-item-wrapper-nav {
    justify-content: flex-end;
    width: 100%;
  }
}
