<div class="row d-flex">
  <div class="col-4 w-100">
    <form>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Title</label>
        <input [(ngModel)]="newTitle" name="newTitle" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input [(ngModel)]="newDescription" name="newDescription" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Image</label>
        <input [(ngModel)]="newImagePath" name="newImagePath" type="text" class="form-control">
      </div>

      <button [disabled]="!newDescription || !newImagePath || !newTitle" (click)="addItem()" *ngIf="!editStatus"
        type="button" class="btn btn-success">Add</button>
      <button [disabled]="!newDescription || !newImagePath || !newTitle" (click)="updateItem()" *ngIf="editStatus"
        type="button" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-8 w-100">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let discount of discountAdmin; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{discount.title}}</td>
          <td>{{discount.description | slice:0:11}}</td>
          <td><img [src]="discount.imagePath" width="100" alt=""></td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editItem(discount)">Edit</button>
            <button [disabled]="editStatus" type="button" class="btn btn-danger"
              (click)="deleteItem(discount)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
